{% extends "base.html" %}
{% load static from staticfiles %}
{% block statics %}
<!-- Wide card with share menu button -->
<style>
.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;  
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>
{% endblock %}
{% block content %}	
<div class="mdl-grid">
	<div class="mdl-layout-spacer"></div>
	<div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--8-col-phone ">		
		<div class="mdl-grid"><!--comunicados-->
			{% for c in tabla_comisiones %}			
			<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone ">
				<div class="demo-card-wide mdl-card mdl-shadow--2dp">
				  	<div class="mdl-card__title" style="background: url('{% static 'img/comiciones.png' %}') center / cover;">
					    <h2 class="mdl-card__title-text">{{c.nombre}}</h2>
				  	</div>
				  	<div class="mdl-card__supporting-text">
				    	{{c.descripcion}}
				  	</div>
				 	<div class="mdl-card__actions mdl-card--border">
				   		<a href="{{c.get_tabla}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
				      		Ver más
				    	</a>
				  	</div>
				  	<div class="mdl-card__menu">
				    	<button id="menu-comunicado-{{c.id}}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
				      		<i class="material-icons">more_vert</i>
				    	</button>
				    	<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"    for="menu-comunicado-{{c.id}}">
						  	<li class="mdl-menu__item mdl-list__item">
						  		<a class="decoratiom-none" href="{{ c.archivo.url }}" target="_blank">
							  		<span class="mdl-list__item-primary-content">
							  			<i class="material-icons mdl-list__item-icon">file_download</i>Descargar
							  		</span>
							  	</a>
						  	</li>
						  	<li disabled class="mdl-menu__item mdl-list__item">
						  		<span class="mdl-list__item-primary-content">
						  			<i class="material-icons">date_range</i>
						  			{{c.fecha_vigencia|date:"d/m/Y" }}
						  		</span>
						  	</li>
						  	<li class="mdl-menu__item">Yet Another Action</li>
						</ul>
				  	</div>
				</div>
			</div>
			{% endfor %}			
		</div>
	</div>
	<div class="mdl-layout-spacer"></div>
</div>
{% endblock %}